<div class="content">
	<%= render :partial => 'layouts/flash_box' %>
	
	<div class="content-box">
		<div class="page-heading-box">
			<h1>
				Target the candidates you want
			</h1>
			
			<h2>
				No credit card needed. All plans include a 14-day free trial. 
				We don’t want your money until you’re amazingly happy!
			</h2>
	 	</div>
	 	
	 	<div id="employer-edit">
			<%= render :partial => 'employers/edit_form'%>
		</div>
	</div>
	
	<div class="content-box">
		<%= render :partial => 'employers/plans_and_pricing_faq' %>
	</div>	
</div>
