$("#send-message-box-<%=@user_id%>").siblings(".send-message-title-box").fadeOut(400).addClass("success").fadeIn(200);
$("#send-message-box-<%=@user_id%>").html("<span>Thanks, we'll send an invitation to the candidate.</span>");
