$("#send-message-box-<%=@user_id%>").siblings(".send-message-title-box").fadeOut(400).addClass("skip").fadeIn(200);
$("#send-message-box-<%=@user_id%>").html("<span>OK, that candidate's not the one.</span>");
