<%= render :partial => 'jobs/ad', :locals => {:job => job, :ad_rendering_mode => Ad::RENDERING_MODE_COMPACT} %>

<% 
all_infointerviews_for_this_job = job.infointerviews.where(status: [Infointerview::NEW, Infointerview::ACTIVE_LEAD, Infointerview::CLOSED_BY_EMPLOYER])
%>

<div class="job-counters clearfix">
	<div class="job-counter">
		<div class="counter-value"><%=job.status == Job::DRAFT ? "..." : job.shares_counter.to_i%></div>
		<div class="counter-title">Shares</div>
	</div>
	<div class="job-counter">
		<div class="counter-value"><%=job.status == Job::DRAFT ? "..." : job.clickback_counter.to_i%></div>
		<div class="counter-title">Impressions</div>
	</div>
	<div class="job-counter">
		<!-- need to count infointerviews as not all leads come from shares-->
		<div class="counter-value"><%=job.status == Job::DRAFT || !job.employer.enable_ping ? "..." : all_infointerviews_for_this_job.count%></div>
		<div class="counter-title">Leads</div>
	</div>
</div>