<div class="content">
	<%= render :partial => 'layouts/flash_box' %>

	<div class="content-box">
		<div class="page-heading-box">
			<h1>
				<% if @job.status == Job::PUBLISHED %>
					Edit your job posting
				<% else %>
					Edit your draft and publish
				<% end %>
			</h1>
		</div>
		
		<div id="job-edit">
			<%= render :partial => 'jobs/edit_form' %>
		</div>
	</div>
</div>
