<div class="content">
	<%= render :partial => 'layouts/flash_box' %>

	<div class="content-box">
		<div class="page-heading-box">
			<h1>
				Edit your job posting.
			</h1>
		</div>
		
		<div id="job-edit">
			<%= render :partial => 'jobs/edit_form' %>
		</div>
	</div>
</div>
