<%if @err_msg.blank? %>
	$("#change-pw-msg").html("<span class='success'>Password changed</span>");
<%else%>
    $("#change-pw-msg").html("<span class='error'><%=escape_javascript @err_msg %></span>");
	$(".change_pw_form_elem").removeAttr('readonly');
	$("#submit-change-pw").removeAttr('disabled');
<%end%>
 
