<div class="content">
	<%= render :partial => 'layouts/flash_box' %>
	<p class="headline">
	New skills? Want something from your next job? Let employers know.  	
	</p>
		
	<%= render :partial => 'users/edit_form' %>		
</div>

<%=render :partial=>"layouts/bottom_stripe", :locals => {:include_summary => false} %>