<div class="content">
	<%= render :partial => 'layouts/flash_box' %>

	<div class="content-box">
		<div class="page-heading-box">
			<h1>
				New skills? Want something from your next job? Let employers know.
			</h1>
		</div>
		
		<div id="user-edit">
			<%= render :partial => 'users/edit_form' %>
		</div>
	</div>
</div>
