<div class="content" id="employee-dashboard">
	<%= render :partial => 'layouts/flash_box' %>
	
	<div class="standard-section-header"><span>Recent pings from employers</span></div>	
	<div class="section-box interviews-box">
		<%=render :partial => 'interviews'%>
	</div>
	
	<% unless current_user.company_ratings.any? %>	
		<div class="standard-section-header"><span>Rate your company</span></div>	
		<div class="section-box rating-box">
			<%=render :partial => 'users/company_rating'%>
		</div>
	<%end%>
	
</div>
