<%#><h1>
#	Welcome page [TODO]
#</h1>
#%>
<script>
location.replace('http://launch.rightjoin.io');
</script>
<meta http-equiv="refresh" content="0; url=http://launch.rightjoin.io" />
<%= link_to "For employers", employer_welcome_path %>
<br>
<%= link_to "For engineers", jobs_path %>