<a name="form" style="visibility: hidden"></a>

<div class="content">
	<%= render :partial => 'layouts/flash_box' %>

	<div class="content-box">
		<div class="page-heading-box">
 			<h1>
				Create your <%=Constants::SHORT_SITENAME%> profile.
			</h1>
			
			<ul> 
 				<li>Play the field anonymously&mdash;we vouch for your awesomeness.</li>
 				<li>Learn your market value without sending around your resum&eacute;.</li>
 				<li>State your requirements upfront. We screen each offer for relevance.</li> 
 				<li>Find out what it's like to work at other companies, directly from your peers.</li>
 			</ul>
		</div>
		
		<div id="user-edit">
			<%= render :partial => 'users/edit_form' %>
		</div>
	</div>
</div>
