<h1>
	Plans and pricing FAQ
</h1>

<div id="faq-accordion" class="fyi-accordion faq-accordion">
	<h3 class="standard-section-header collapsed">How can I change plans or freeze my account after I sign up?</h3> 
	<div class="accordion-panel">
		<p>
			Simply edit your employer profile, 
			choose the radio button for your preferred plan, and click &ldquo;Update.&rdquo;
			The change will be effective immediately, and we will refund any excess payments  beyond the level of the new plan.
		</p>
		<p>
			Just close all jobs to stop paying. We do not charge for any month in which there are no open jobs. 
		</p>
	</div>	
	
	<h3 class="standard-section-header collapsed">What happens when the 14-day trial ends?</h3>
	<div class="accordion-panel">
		<p>
	 		 After the 14-day free trial, you can choose to continue at the montly rate.
	 	 </p>
	 	 <p>
	 	 	If not, your job postings will be closed after the trial period.
	 	 </p>  
	</div>
 
	<h3 class="standard-section-header collapsed">I'm not hiring right now. Can I freeze my subscription?</h3>
	<div class="accordion-panel">
		<p>
			 Just close all open job positions. We do not charge for  months in which there are no open jobs.
		 </p>
		 <p>
			 You can simply add job positions to resume your paid plan when you need it again.
		 </p> 
 	</div>
	
	<h3 class="standard-section-header collapsed">What can a Customer Success Representative do for me?</h3>
	<div class="accordion-panel">
		<p>
			 Customer Success Representatives can help you boost your candidate outreach program.
			 Some services include:
			 <ul>
				<li>
					Styling your &ldquo;Come Work With Us&rdquo; web component to suit your company's site.
				</li>  
				<li>
					Placing your job posting on high-traffic developer-oriented sites
				</li>
				<li>
					Sourcing suitable candidates and screening them based on their online profiles. 
				</li>
				<li>
					Improving the text of your job postings based on our experience with successful recruiting campaigns. 
				</li>
			  </ul>  
		</p>
	</div>
</div>