<h1>
	Plans and pricing FAQ
</h1>

<div id="faq-accordion" class="fyi-accordion faq-accordion">
	<h3 class="standard-section-header collapsed">How can I change plans or cancel after I sign up?</h3> 
	<div class="accordion-panel">
		<p>
			Simply edit your employer profile, 
			choose the radio button for your preferred plan, and click &ldquo;Update.&rdquo;
			The change will be effective immediately, and we will refund any excess payments  beyond the level of the new plan.
		</p>
		<p>
			To cancel a paid subscription, simply revert to the <%=EmployerPlan::FREE%> plan.
		</p>
	</div>	
	
	<h3 class="standard-section-header collapsed">What happens when the 14-day trial ends?</h3>
	<div class="accordion-panel">
		<p>
			After the 14-day free trial, if you choose not to continue, your account will revert to the <%=EmployerPlan::FREE%> plan,
			 which allows only one  job position and one ambassador.
		</p>
	</div>
 
	<h3 class="standard-section-header collapsed">I'm not hiring right now. Can I freeze my subscription?</h3>
	<div class="accordion-panel">
		<p>
			You can temporarily switch to the  <%=EmployerPlan::FREE%> plan, then  resume your premium plan when you need it again.
		</p>
	</div>
	
	<h3 class="standard-section-header collapsed">What does the Customer Success Representative do for me?</h3>
	<div class="accordion-panel">
		<p>
			 Customer Success Representatives can help you boost your candidate outreach program.
			 Some services include:
			 <ul>
				<li>
					Styling your &ldquo;Come Work With Us&rdquo; web component to suit your company's site.
				</li>  
				<li>
					Placing your job posting on high-traffic developer-oriented sites
				</li>
				<li>
					Sourcing suitable candidates and screening them based on their online profiles. 
				</li>
				<li>
					Improving the text of your job postings based on our experience with successful recruiting campaigns. 
				</li>
			  </ul>  
		</p>
	</div>
</div>