<!DOCTYPE html>
<html>  
	<head>
		<title>Preview  the "Join Us" tab for your company site</title>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'application', :media => "all"%>

		<script>
			<%= render :partial => 'employers/work_with_us_loader.js.erb' %>
		</script>
		
		<%= favicon_link_tag '/favicon.ico?v=5' %>
	</head>

	<body id="test-tab">
		<div class="message-box">
			<%#TODO include the relevant company_url in this text%>
			The  &ldquo;Join Us&rdquo; tab will look like this after you add it to the  <%=@employer.company_name%> website. 
			<br><br>
			The tab is geolocated: It will appear <em>only</em> to visitors from areas where you have open positions.
			<br><br>
			Click the tab to  launch the job posting.
		</div>
	</body>
</html>
