<html>
	<head>
		<script>
			<%= render :partial => 'employers/work_with_us_loader.js.erb' %>
		</script>
	</head>
	<body style="background-color: #E4E4E4;">
		<div style="color: #525252; font-size: 30px; position: relative; padding: 20px; width: 600px; height: 100px; margin: 0 auto; background-color: #F3F3F3; top: 50%; margin-top: -70px;">
			Preview the &ldquo;Work With Us&rdquo; tab for the <%=@employer.company_name%> website. To launch the job posting, just click the tab.  
		</div>
	</body>
</html>
