<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<body>
		<p>
			<%=raw @msg_salutation%>
		</p>
		<p>
			<%=raw @msg_content%>		
		</p>
		<p>
			<%=raw @msg_signature%>	
		</p>
	</body>
</html>