@mixin opacity($percent) {
  opacity: $percent/100;
  filter:alpha(opacity=$percent);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($val...) {
  -webkit-box-shadow: $val;
  -moz-box-shadow:    $val;
  box-shadow:         $val;
}

@mixin transition ($val) {
  -webkit-transition: $val;  
  -moz-transition:    $val;
  -ms-transition:     $val; 
  -o-transition:      $val;  
  transition:         $val;  
}

@mixin transform($val) {
  -moz-transform:   $val;
  -o-transform:     $val;
  -ms-transform:    $val;
  -webkit-transform: $val;
  transform:        $val;
}

@mixin translate ($val...) {
  -webkit-transform: translate($val);
  -moz-transform:    translate($val);
  -ms-transform:     translate($val);
  -o-transform:      translate($val);
  transform:         translate($val);
}

@mixin background-size ($val) {
  -webkit-background-size: $val;
  -moz-background-size: $val;
  -o-background-size: $val;
  background-size: $val;
}

@mixin vertical-gradient($params...) {
  background-image: -webkit-linear-gradient(bottom, $params);
  background-image: -moz-linear-gradient(bottom, $params);
  background-image: -o-linear-gradient(bottom, $params);
  background-image: linear-gradient(to top, $params);
}

@mixin normal-font {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

@mixin inline-button($bg-color, $font-size, $height, $horz-padding, $font-color, $font-weight) {
  display: inline-block;
  @include normal-font;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  text-decoration: none !important;
  line-height: $height;
  height: $height;
  text-transform: uppercase;
  color: $font-color;
  background-color: $bg-color;
  padding: 0 $horz-padding 0;
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  text-align: center;
  @include border-radius(4px);
  @include box-shadow( inset 0px -2px 0px 0px rgba(0,0,0, 0.3));
  
  &:not([disabled]) {  
    &:hover {
      text-decoration: none !important;
      background-color: darken($bg-color, 3%);
      color: $font-color;
    }
    
    &:active {
      background-color: darken($bg-color, 3%);
      @include box-shadow(inset 0px 2px 0px 0px rgba(0,0,0, 0.3));   
      color: $font-color; 
    }
  }
  
  &[disabled] {
    @include opacity(40);
    color: $font-color;
    cursor: auto;
  }
}

#flash-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; /*modal dialog for change pw has 1002*/
  
  font-size: 0.8em;
  line-height: 1.5em;
  color: white;
  
  &:last-child {
      margin-bottom: 20px;
  }  
  
  .flash-box {
    position: relative;
    padding-left: 4px;
    padding-right: 20px;
    min-height: 20px;
    
    span.flash-msg {
      display: block;
      
      em {
        font-style: inherit;
        font-weight: 500;
        color: inherit;
      }
    }
    
    &.error {
      background: #c00852;
    }
    
    &.notice {
      background: #16A085;
    }
  }
}

.link-x {
  display: block;
  position: absolute;
  right: 1px;
  top: 1px;
  background: transparent image-url("shared/red_x.png") no-repeat top left;
  @include opacity(30);
  width: 16px;
  height: 16px;
  z-index: 99999;
  text-indent: -9999px;  
}

.closable {
  position: relative;
  &:hover {
    .link-x {
      @include opacity(100);
    }
  }
}

// validation engine
.formError .formErrorContent {
  @include normal-font;
  font-size: 13px;
  line-height: 1.4em;
  width: 200px;
  text-align: left;
  border: none;
}

.formError .formErrorArrow {
  div {
    border-left: none;
    border-right: none;
    box-shadow: none;
    -moz-box-shadow: none;
  }
  
  .line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8, .line9, .line10 {
    border-left: none;
    border-right: none;
  }
  
  .line1, .line2 {
    width: 0;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
 
.div-tooltip-holder {
  position:relative;
}

.div-tooltip{ 
    display: none;
    position: absolute;
    cursor: pointer;
    
    // height:24px;
    // width:100px;
    top: -50px;
    left: 75px;

    border: solid 3px #9D9D9D;
    background-color: #FAFAFA;
    color: #5E5E5E;
    padding:5px;
    z-index: 1000;
}
