/* 
 :-ms-input-placeholder must come after the definitions for the input fields, otherwise the definitions for the input field 
 will override the placeholder definitions. We want to keep placeholder definitions together. 
 So, we are copying all the placeholder definitions into the end of team.css.scss and rightjoin.css.scss and widget.css.scss
 */
input, textarea, select {
  &::-webkit-input-placeholder  { 
    color:#DBDBDB; 
  }
  
  &:-moz-placeholder { 
    color:#DBDBDB; 
  }
  
  &::-moz-placeholder {  /* Firefox 19+ */
     color:#DBDBDB; 
  }  
  
  &:-ms-input-placeholder {  
     color:#DBDBDB !important;
  }
}