.join-us-style1 {
  background: #5D2D34 image-url("widget/backgrounds/1.jpg") no-repeat center center; 
  @include background-size (cover);
  
  .bg-style1 {
    background-color: #fd9500;
  }
  
  .bg-style2 {
    background-color: #7ab700;
  }
  
  .bg-style3 {
    background-color: #1eb1ff;
  }
  
  .bg-style4 {
    background-color: #ad153e;
  }
  
  .bg-style5 {
    background-color: #ff6d54;
  } 
}

.join-us-style2 {
  background: #653234 image-url("widget/backgrounds/2.jpg") no-repeat center center; 
  @include background-size (cover);
  
  .bg-style1 {
    background-color: #AD153E;
  }
  
  .bg-style2 {
    background-color: #D35400;
  }
  
  .bg-style3 {
    background-color: #D35400;
  }
  
  .bg-style4 {
    background-color: #AD153E;
  }
  
  .bg-style5 {
    background-color: #AD153E;
  } 
}

.join-us-style3 {
  background: #404040 image-url("widget/backgrounds/3.jpg") no-repeat center center; 
  @include background-size (cover);
  
  .bg-style1 {
    background-color: #8E44AD;
  }
  
  .bg-style2 {
    background-color: #2980B9;
  }
  
  .bg-style3 {
    background-color: #AD153E;
  }
  
  .bg-style4 {
    background-color: #AD153E;
  }
  
  .bg-style5 {
    background-color: #2980B9;
  } 
}

.join-us-style4 {
  background: #66A35E image-url("widget/backgrounds/4.jpg") no-repeat center center; 
  @include background-size (cover);
  
  .bg-style1 {
    background-color: #27AE60;
  }
  
  .bg-style2 {
    background-color: #7AB700;
  }
  
  .bg-style3 {
    background-color: #16A085;
  }
  
  .bg-style4 {
    background-color: #C0392B;
  }
  
  .bg-style5 {
    background-color: #AD153E;
  } 
}

.join-us-style5 {
  background: #61A6F0 image-url("widget/backgrounds/5.jpg") no-repeat center center; 
  @include background-size (cover);
  
  .bg-style1 {
    background-color: #FF6D54;
  }
  
  .bg-style2 {
    background-color: #8E44AD;
  }
  
  .bg-style3 {
    background-color: #2980B9;
  }
  
  .bg-style4 {
    background-color: #8E44AD;
  }
  
  .bg-style5 {
    background-color: #8E44AD;
  } 
}

.join-us-style6 {
  background: #970642 image-url("widget/backgrounds/6.jpg") no-repeat center center; 
  @include background-size (cover);
  
  .bg-style1 {
    background-color: #D35400;
  }
  
  .bg-style2 {
    background-color: #AD153E;
  }
  
  .bg-style3 {
    background-color: #C0392B;
  }
  
  .bg-style4 {
    background-color: #F39C12;
  }
  
  .bg-style5 {
    background-color: #AD153E;
  } 
}

.join-us-style7 {
  background: #F39C12; 
  
  .bg-style1 {
    background-color: #2980B9;
  }
  
  .bg-style2 {
    background-color: #D35400;
  }
  
  .bg-style3 {
    background-color: #2980B9;
  }
  
  .bg-style4 {
    background-color: #C0392B;
  }
  
  .bg-style5 {
    background-color: #D35400;
  }   
}

.join-us-style8 {
  background: #004881; 
  
  .bg-style1 {
    background-color: #1EB1FF;
  }
  
  .bg-style2 {
    background-color: #2C3E50;
  }
  
  .bg-style3 {
    background-color: #1EB1FF;
  }
  
  .bg-style4 {
    background-color: #2980B9;
  }
  
  .bg-style5 {
    background-color: #2C3E50;
  }   
} 

.join-us-style9 {
  background: #065F63; 
  
  .bg-style1 {
    background-color: #2C3E50;
  }
  
  .bg-style2 {
    background-color: #AD153E;
  }
  
  .bg-style3 {
    background-color: #16A085;
  }
  
  .bg-style4 {
    background-color: #D35400;
  }
  
  .bg-style5 {
    background-color: #AD153E;
  }   
} 