<ul>
	<li><%= link_to "Blog", "http://blog.#{Constants::SITENAME_LC}/", :target => "_fyi_follow", :class => 'followus-link' %></li>						
	<li><%= link_to Constants::TWITTER, "https://twitter.com/RightJoin", :target => "_fyi_follow", :class => 'followus-link' %></li>						
	<li><%= link_to Constants::FACEBOOK, "https://www.facebook.com/RightJoinIO", :target => "_fyi_follow", :class => 'followus-link' %></li> 
</ul>
