<div id="founders-box">
	<div class="clearfix founder">
		<img src="<%= asset_path('fyi/faces/josh_160x160.png') %>" class="picture" />
		<p class="name">Joshua Fox</p>
		<p>
			Joshua brings ideas into reality.  
			He's led the architecture for  leading industrial ontology software,
			and at  IBM, he got a new product idea funded at 
			 the trough of the recession, and took it to goal-beating sales.
		</p>
		<p>
			He's done some other stuff, like a PhD from Harvard and a Shotokan Karate black belt. 
			Recently, he worked with the  Machine Intelligence Research Institute
			on safeguarding the humanity from future superhuman AI. 
			But for now, he's all about making developers happier and software organizations better.  
		</p> 
	</div>
	<div class="clearfix founder">
		<img src="<%= asset_path('fyi/faces/mike_160x160.png') %>" class="picture" />
		<p class="name">
			Michael Pelts
		</p>
		<p>
			Michael loves making things, whether it's Adirondack chairs, offbeat toy-camera photos, 
			or low-tech 'bots.
			Like he says, a pile of nuts-and-bolts is just a robot waiting to happen. 
		</p>
		<p>
			He's built software in more programming languages and technologies than he can count.
			He's initiated a new product at IBM, withf awards and patents along the way.
			He's put in his 10,000 hours as a software developer, architect and tech lead 
			in text analytics, scalable infrastructure, and front-end design,
			at startups including iPhrase, Banter, and E&amp;C Medical.
		</p>
	</div>
</div>